spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

security:
  jwt:
    secret: ${JWT_SECRET}
    expiry: 900
